body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.font {
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

p {
	padding: 30px;
	font-family: Arial, Sans-Serif;
	font-size: 17px;
	letter-spacing: 1px;
}

.mainPage {
	background: #fff;
	overflow: hidden;
	min-height: 100vh;
}

.mainPage h1 { 
	margin-top: 30px;
}

.codrops-header h1 {
	text-align: center;
	padding-top: 15px;
	color: #f7484e;
	font-weight: 700;
	font-size: 2.5em;
	line-height: 0.75;
	letter-spacing: -1px;
	position: relative;
}

.image {
	margin: 0 auto;
	height: 570px;
	position: relative;
	margin-left: -60px;
}

.main-nav {
	margin: 0 auto;
	width: 300px;
}

.main-nav ul {
	padding-left: 20px;
}

.main-nav a {
	color: #f7484e;
	text-decoration: none;
	outline: none;
	font-family: Proxima Nova Bold, serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: -0.5px;
}

.main-nav a:hover,
.main-nav a:focus {
	color: #f7484e;
	text-decoration: underline;
	cursor: pointer;
}

.nav-item {
	display: inline-block;
	text-decoration: none;
}

.nav-span {
	font-family: Proxima Nova Bold, serif;
	font-weight: 900;
	font-size: 18px;
	padding-left: 3px;
	padding-right: 3px;
}

.mainPage span {
	color: #f7484e;
}

.spinnerLogoPage {
	min-height: 100vh;
	width: 50vw;
	overflow: hidden;
	background-color: #f7484e;
	border-bottom: 1px solid #fff; /* i dont know whats wrong */
}

.mar-sp-log-nav {
	width: 350px;
	margin: 0 auto;
}

.spinnerLogoPage .main-nav {
	width: 350px;
	padding-top: 250px;	
}

.spinnerLogoPage .main-nav a {
	color: #fff;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 15px;
}

.spinnerLogoPage span {
	color: #fff;
}

.spinnerLogoPage h1 {
	text-align: center;
	padding-top: 35px;
	color: #fff;
	font-size: 45px;
	line-height: 0.75;
	position: relative;
}

.spinnerPage {
	display: block;
	overflow: hidden;
	min-height: 100vh;
	width: 48.9vw;
	margin-left: 50vw;
	margin-top: -100.1vh;
	border-bottom: 4px solid #fff;
}

.secondSpinner {
	width: 100%;
	height: 25vh;
	background-color: #f7484e;
}

.box {
	margin: 0 auto;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	animation: load 2s infinite ease;
}

@keyframes load {
	0%, 
	100% {
		box-shadow: 30px 30px #DCDCDC,
					50px 40px #C0C0C0,
					60px 60px #A9A9A9,
					50px 80px #808080,
					30px 90px #DCDCDC,
					10px 80px #C0C0C0,
					0px 60px #A9A9A9,
					10px 40px #808080;
	}
	12.5% {
		box-shadow: 30px 30px #C0C0C0,
					50px 40px #DCDCDC,
					60px 60px #808080,
					50px 80px #DCDCDC,
					30px 90px #808080,
					10px 80px #C0C0C0,
					0px 60px #A9A9A9,
					10px 40px #C0C0C0;
	}
	25% {
		box-shadow: 30px 30px #A9A9A9,
					50px 40px #808080,
					60px 60px #DCDCDC,
					50px 80px #C0C0C0,
					30px 90px #A9A9A9,
					10px 80px #808080,
					0px 60px #DCDCDC,
					10px 40px #C0C0C0;
	}
	37.5% {
		box-shadow: 30px 30px #808080,
					50px 40px #DCDCDC,
					60px 60px #C0C0C0,
					50px 80px #DCDCDC,
					30px 90px #A9A9A9,
					10px 80px #DCDCDC,
					0px 60px #C0C0C0,
					10px 40px #A9A9A9;
	}
	50.0% {
		box-shadow: 30px 30px #DCDCDC,
					50px 40px #C0C0C0,
					60px 60px #A9A9A9,
					50px 80px #808080,
					30px 90px #DCDCDC,
					10px 80px #C0C0C0,
					0px 60px #A9A9A9,
					10px 40px #808080;		
	}
	62.5% {
		box-shadow: 30px 30px #C0C0C0,
					50px 40px #A9A9A9,
					60px 60px #808080,
					50px 80px #DCDCDC,
					30px 90px #808080,
					10px 80px #DCDCDC,
					0px 60px #A9A9A9,
					10px 40px #C0C0C0;	
	}	
	75% {
		box-shadow: 30px 30px #A9A9A9,
					50px 40px #808080,
					60px 60px #DCDCDC,
					50px 80px #C0C0C0,
					30px 90px #A9A9A9,
					10px 80px #808080,
					0px 60px #DCDCDC,
					10px 40px #C0C0C0;		
	}
	87.5% {
		box-shadow: 30px 30px #808080,
					50px 40px #DCDCDC,
					60px 60px #C0C0C0,
					50px 80px #DCDCDC,
					30px 90px #A9A9A9,
					10px 80px #DCDCDC,
					0px 60px #C0C0C0,
					10px 40px #DCDCDC;		
	}
}

.thirdSpinner {
	width: 100%;
	height: 25vh;
	background-color: #f7484e;
}

.marlo {
	padding-top: 60px;
	width: 0px; /* to align-center*/
	margin: 0 auto;
}

.loading {
	margin: 0 auto;
    border-radius: 50%;
    width: 50px;
  	height: 50px;
  	border: 0.35rem solid #C0C0C0;
  	border-top-color: rgba(255, 255, 255, 0.2);
    animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
            transform: rotate(0deg);
  }
  100% {
            transform: rotate(360deg);
  }
}

.fourthSpinner {
	width: 100%;
	height: 25vh;
	background-color: #f7484e;
}

.fourthSpinner .marlo {
	padding-left: 50px; /* to align-center*/
}

@keyframes down-up {
  50% {
    background: white;
  }
}

.loading-pulse {
  position: relative;
  margin: 0 auto;
  width: 16px;
  height: 38px;
  background: rgba(255, 255, 255, 0.2);
  animation: down-up 750ms infinite;
  animation-delay: 250ms;
}

.loading-pulse:before, .loading-pulse:after {
  content: '';
  position: absolute;
  display: block;
  height: 26px;
  width: 16px;
  background: rgba(255, 255, 255, 0.2);
  top: 50%;
  transform: translateY(-50%);
  animation: down-up 750ms infinite;
}

.loading-pulse:before {
  left: -22px;
}

.loading-pulse:after {
  left: 22px;
  animation-delay: 500ms;
}

.fifthSpinner {
	width: 100%;
	height: 25vh;
	background-color: #f7484e;
}


#loadingText{
	width:240px;
	margin:auto;
}

.loadingText{
	color: rgba(255, 255, 255, 0.2);
	font-family: Arial, Sans-Serif;
	font-size: 25px;
	float:left;
	animation-name: letterLoading;
	animation-duration: 1.6s;
	animation-iteration-count:infinite;
	animation-direction:normal;
	transform:scale(.5);

}

#letter_1{
	animation-delay:0.64s;
}

#letter_2{
	animation-delay:0.76s;
}

#letter_3{
	animation-delay:0.91s;
}

#letter_4{
	animation-delay:1.03s;
}

#letter_5{
	animation-delay:1.16s;
}

#letter_6{
	animation-delay:1.2s;
}

#letter_7{
	animation-delay:1.42s;
}

#letter_8{
	animation-delay:1.55s;
}

#letter_9{
	animation-delay:1.68s;
}

#letter_10{
	animation-delay:1.81s;
}

@keyframes letterLoading{
	0%{
		transform: scale(1);
		color: rgba(255, 255, 255, 0.2);
	}

	100%{
		transform: scale(.5);
		color: #FFFFFF;
	}
}

.menu {
	display: none;
}

.sliderPage {
	background: #f7484e;
	height: 100vh;
	padding-top: 20px;
}

.sliderPage h1 {
	color: #fff;
	width: 200px;
	margin: 0 auto;
	font-size: 45px;
}

.sliderPage .main-nav {
	width: 350px;
}

.sliderPage .main-nav a {
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1px;
}

.sliderPage span {
	color: #fff;
}

.mobileSlider {
	display: none;
}

.aboutPage {
	background: #fff;
	height: 100vh;
	padding-top: 30px;
}

.about span, .about a {
	color: #f7484e;
	font-family: "Grandesign", Helvetica Neue, Helvetica, Arial, sans-serif;
	padding-left: 30px;
	font-size: 19px;
}

.about a {
	padding-left: 3px;
	text-decoration: none;
}

.about p {
	padding-left: 30px;
	padding-top: 0;
	padding-bottom: 0;
}

.aboutPage h1 {
	text-align: center;
	color: black;
	font-size: 45px;
	position: relative;
}

/* done for margin-top */
.mar {
	margin-top: 48vh;
}

.aboutPage .main-nav {
	width: 350px;
}

.aboutPage .main-nav a{
	color: black;
}

.circleAnimation{
  	width: 200px;
  	height: 200px;
	border-radius: 50%;
  	position: absolute;
  	border: 1px solid #f7484e;
	border-bottom:none;
  	border-left:none;
  	margin-left: -70px;
	margin-top: -70px;	
	left: 50%;
	top: 50%;
	animation: up 1s infinite linear;
  }
  
#circle2{
	width: 180px;
	height: 180px;
	left: 50.8%;
	top: 51.0%;
	animation-delay: 0.2s;
}

#circle3{
   width: 160px;
   height: 160px;
   left: 51.5%;
   top: 52.1%;
   animation-delay: .4s;
}

#circle4{
   width: 140px;
   height: 140px;
   left: 52.2%;
   top: 53.7%;
   animation-delay: .6s;

  }
  
#circle5{
    width: 120px;
  	height: 120px;
  	left: 53.0%;
  	top: 55.8%;
  	animation-delay: .5s;
}

@keyframes up{
   	0%{transform:rotate(0deg); }
   	50%{transform:rotate(180deg);}
   	100%{transform:rotate(360deg);}
}
 
 .mar-sp-log-circle {
	 width: 309px;
	 margin: 0 auto;
 }
 
.className {
  	width: 300px;
  	height: 300px;
  	border: 3px solid #fff;
  	border-radius: 50%;
  	border-bottom: none;
  	border-right: none;
  	border-left: none;
  	position: relative;
  	margin-top: 20%;
  }
  
  @media only screen and (min-width: 150px) and (max-width: 1020px) 
{
	.spinnerLogoPage {
		width: 100vw;
		border-bottom: none;
	}
	
	.spinnerLogoPage .main-nav{
		display: none;
	}

	.nav-span {
		padding-left: 1px;
		padding-right: 1px;
	}

	.className {
  	width: 300px;
  	height: 300px;
  	border: 3px solid #fff;
  	border-radius: 50%;
  	border-bottom: none;
  	border-right: none;
  	border-left: none;
  	position: relative;
	margin-top: 20%;
	}

	.spinnerPage {
		width: 100vw;
		margin-top: 0;
		margin-left: 0;
	}
	
	.secondSpinner {
		height: 20vh;
	}
	
	.thirdSpinner {
		height: 20vh;
	}
	
	.fourthSpinner {
		height: 20vh;
	}
	
	.menu {
		display: block;
		height: 20vh;
		background-color: #f7484e;
	}
	
	.menu .main-nav {
		width: 260px;
		padding-top: 30px;
	}
	
	.menu .main-nav a {
		color: #fff;	
		letter-spacing: 1px;
		font-weight: 700;
		font-size: 15px;
	}
	
	.menu span {
		color: #fff;
	}
	
	.mobileSlider {
		display: block;
	}
	
	.mobileSlider h2 {
		padding-top: 30%;
		text-align: center;
		font-size: 45px;
	}
	
	#pageContainer {
		display: none;
	}
}